.intro-header {
    margin-top: 10%;
}

.modal-content {
    max-width: 80%;
    margin: 6% auto 0;
}

.sample-post {
    width: 80%;
}

.add-word-pic {
    height: 23vh;
}

.intro-paragraph {
    margin: 2%;
}

