.postCard {
    margin-bottom: 10vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: 10vh;
    margin-right: 10vh;
    border: solid .7vh;
    border-color: #FFA424;
    background-color: #ffff;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 3.3vh;
}

.card-body {
    padding: 0;
    padding-bottom: .5rem;
}

.post-level {
    font-size: 2.4vh;
    float: right;
}

.fa-weibo, .fa-zhihu {
    font-size: 5vh;
    margin-right: 5vh;
    margin-top: 1vh;
    float: right;
}

.user {
    font-size: 2.8vh;
}

.fa-zhihu {
    color: black;
    display: block;
    clear: both;
}

.source-icon {
   float: right;
   vertical-align: text-top;
}

.source {
    font-size: 2.4vh;
    margin-right: 1.3vh;
    vertical-align: top;

}

.card-body {
    margin-bottom: 4vh;
    margin-top: 2vh;
}

.userImage {
    margin: 1vh;
    border: solid;
}

.postContent {
    vertical-align: middle;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.zhihuImage {
    max-width: 40%;
    margin: 3vh;
}

.postPopularity {
    margin-top: 2vh;
    border: solid 1px;
    background-color: #FFFF;
    color: #0084FF;
    font-size: 2.8vh;
    padding: .8vh;
    border-radius: .85vh;
}

.userUrl, .postUrl {
    background-color: #FFFF;
    color: #0084FF;
    font-size: 2.8vh;
    padding: .8vh;
    border: solid 1px;
}

.userUrl:hover, .postUrl:hover {
    margin-top: 2vh;
    background-color: #0084FF;
    border-style: none;
    font-size: 2.8vh;
    padding: .8vh;
    border: solid 1px;
}

.addCloze {
    color:  #0084FF;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.postDate {
    font-size: 3vh;
}

.addCloze:hover {
    cursor: pointer;
}

.dictionary-modal {
    display: block;
}

.modal-content {
    border: solid .7vh;
    border-color: #FFA424;
}

.addCloze {
    color:  #0084FF;
    font-size: 5vh;
    margin-bottom: 1vh;
}

.addCloze:hover {
    cursor: pointer;
}


.postUrl {
    border: none;
    float: left;
}

.postUrl:hover {
    border: none;
    background-color: #FFFF;
    float: left;
}