.postCard {
    margin-bottom: 10vh;
    margin-left: 10vh;
    margin-right: 10vh; 
    padding-left: 1.25rem;
    padding-right: 1.25rem;   
    border: solid .7vh;
    border-color: #FFA424;
    background-color: #ffff;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.cloze-modal {
    margin-top: 10%;
    font-size: 5vh;
    padding: 5vh;
}

.show-incorrect {
    font-size: 3.3vh;
    margin: 5vh;
}

.correct-modal {
    margin-top: 15%;
}

.fa-check {
    color: #00FF37;
}

.fa-weibo, .fa-zhihu {
    margin-right: 5vh;
    margin-top: 1vh;
    text-align: right;
    float: right;
}

.fa-zhihu {
    color: black;
    display: block;
    clear: both;
}

.userImage {
    margin: 1vh;
    border: solid;
}

.postContent {
    vertical-align: middle;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.zhihuContent {
    height: 30%;
}


.zhihuImage {
    max-width: 40%;
    margin: 3vh;
}

.multiple-choice {
    background-color: #FFFF;
    color: #0084FF;
    margin: 3%;
    border: solid 1px;
}

.multiple-choice:hover {
    background-color: #0084FF;
    border-style: none;
    margin: 3%;
    border: solid 1px;
}

.dictionary-modal {
    display: block;
}

.modal-content {
    border: solid .7vh;
    border-color: #FFA424;
}