.loading {
    text-align: center;
    margin-top: 15vh;
}

.readPosts, .moreClozes, .lessClozes {
    margin-bottom: 10%;
    font-size: 4vh;
    background-color: #A052FF;
    border-style: none;
    border: solid 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.readPosts:hover, .moreClozes:hover, .lessClozes:hover {
    margin-bottom: 10%;
    font-size: 4vh;
    background-color: #FFFF;
    color: #A052FF;
    border: solid 1px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
