.entry {
    margin-bottom: 10%;
}

.entry-num {
    float: left;
    margin-left: 2%;
    color: #0084FF;}

.add-word {
    color: #0084FF;
}

.dictionary-top {
    text-align: center;
}

.dictionary-title {
    text-align: center;
    margin-top: 2vh;
    margin-left: 5%;
}

.add-word {
    cursor: pointer;
}

.simplified-char, .traditional-char {
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.pinyin, .entry-POS {
    font-size: .5em;
}

.english-definition {
    font-size: .75em;
}

.search-term {
    max-width: 55%;
}

.search-bar {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3vh;
}

.language-dropdown, .category-dropdown {
    display: block;
    margin-left: 3%;
    width: 30vh;
}