.selectLevelTitle {
    margin-top: 5%;
}

.level-button {
    margin: 6% auto 0;
    max-width: 30vh;
    background-color: #0084FF;
    border-style: none;
    border: solid 1px;
}

.level-button:hover {
    margin-bottom: 6%;
    background-color: #FFFF;
    color: #0084FF;
    border: solid 1px;
}

.intro-paragraph {
    font-size: 3.3vh;
    margin-bottom: 3%;
}

.usernamePassword {
    display: None;
}

.select-level-row {
    margin-bottom: 20vh;
}